@{
    ViewData["Title"] = "Home Page";
}

<div class="container  mt-4">
@*     <div class="row">
        <div class="col-3">
            <select class="form-select form-select-md" aria-label=".form-select-sm example">
                <option selected>Sucursales</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-3">
            <select class="form-select form-select-md" aria-label=".form-select-sm example">
                <option selected>Pelicula</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>

    </div>
 *@

 @model DetalleViewModel
</div>
<section class="container mt-3 mb-5 ">
    <div class="row shadow p-5 rounded">
        <div class="col-md-4 mb-2 text-center">
            
            <img src="~/imgs/peliculas/@Model.Pelicula.Portada" alt="Nombre de la Película" class="img-fluid rounded">
                  
        </div>

        <div class="col-md-8 mb-3">
           
            <h2 class="mb-4">@Model.Pelicula.Titulo</h2>
            <p><strong>Género:</strong> @Model.Pelicula.IdCategoria</p>
            <p><strong>Duración:</strong> @Model.Pelicula.Duracion minutos</p>
            <p><strong>Clasificación:</strong> @Model.Pelicula.IdClasificacion</p>
            <p><strong>Descripción:</strong> @Model.Pelicula.Descripcion</p>
            
        </div>
        <hr>
        @{
            var cantidadTabs = Model.FechasUnicas.Count;
        }
        <div class="card text-center">
        <div class="card-header p-2">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            @for (int i = 0; i < cantidadTabs; i++)
            {
                <li class="nav-item" role="presentation">
                    <button class="nav-link fw-bolder tab-link @(i == 0 ? "active" : "")" id="pills-tab-@i" data-bs-toggle="pill" data-bs-target="#pills-@i" type="button" role="tab" aria-controls="pills-@i" aria-selected="@(i == 0)">@Model.FechasUnicas.ElementAt(i).ToString("dd/MM")</button>
                </li>
            }
        </ul>
        </div>

        <div class="tab-content" id="pills-tabContent">
            @for (int i = 0; i < cantidadTabs; i++)
            {
                <div class="tab-pane fade @(i == 0 ? "show active" : "")" id="pills-@i" role="tabpanel" aria-labelledby="pills-tab-@i">
                    @foreach (var dimension in Model.ProximasFuncionesStrings
                                            .Where(f => f.Fecha.Equals(Model.FechasUnicas.ElementAt(i).ToString()))
                                            .Select(f => f.Dimension).Distinct())
                    {
                        <div class="card-body" id="turnoContainer">
                            <div class="row">
                                <p class="fw-bolder fs-5 text-start">@dimension</p>
                            </div>
                            <div class="row">
                                 @if (Model.ProximasFuncionesStrings.Any(f => f.Dimension == dimension && f.Fecha.Equals(Model.FechasUnicas.ElementAt(i).ToString())))
                        {
                            @foreach (var funcion in Model.ProximasFuncionesStrings
                                    .Where(f => f.Dimension == dimension && f.Fecha.Equals(Model.FechasUnicas.ElementAt(i).ToString())))
                            {
                                <div class="col-1">
                                    <form method="post" asp-controller="Detalle" asp-action="SeleccionarButaca">
                                        <input type="hidden" name="funcionId" value="@funcion.Id" />
                                        <button class="btn btn-danger text-start btn-auto-width m-1">@funcion.Turno</button>
                                    </form>
                                </div>
                            }
                        }
                        else
                        {
                            <p>No hay funciones disponibles de esta película.</p>
                        }
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
        </div>
@*         <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="dateTabs">
                    @foreach (var funcion in Model.ProximasFunciones)
                    {
                        <li class="nav-item">
                            <a class="nav-link active fw-bolder text-danger" aria-current="true" href="#" data-date="@funcion.Fecha">@funcion.Fecha</a>
                        </li>                    
                    }
                </ul>
            </div>
            @for (int i = 0; i < Model.ProximasFuncionesStrings.Count; i++)
                {
                    var funcionStrings = Model.ProximasFuncionesStrings[i];
                    var funcion = Model.ProximasFunciones[i];

                    <div class="card-body" id="turnoContainer">
                        <div class="row">
                            <p class="fw-bolder fs-5 text-start">@funcionStrings.Dimension</p>
                        </div>
                        <div class="row">
                            <form method="post" asp-controller="Detalle" asp-action="SeleccionarButaca">
                                <input type="hidden" name="funcionId" value="@funcion.Id" />
                                <button class="btn btn-danger text-start btn-auto-width m-1">@funcionStrings.Turno </button>
                            </form>
                        </div>
                    </div>
                }

        </div> *@
    </div>



    










    <div style="height: 100px;">
    </div


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        // Maneja el clic en las pestañas
        $('.tab-link').click(function () {
            // Remueve la clase 'active' de todas las pestañas
            $('.tab-link').removeClass('active');
            // Añade la clase 'active' a la pestaña clicada
            $(this).addClass('active');

            // Agrega estilos adicionales según tus necesidades
            // Por ejemplo, cambiar el color de fondo y el color del texto
            $('.tab-link').css('background-color', '');
            $('.tab-link.active').css('background-color', '#dc3545'); // Color Danger
            $('.tab-link').css('color', '');
            $('.tab-link.active').css('color', '#ffffff'); // Color blanco
        });
    });
</script>

<script>

    $(document).ready(function () {
        $('#dateTabs a').click(function (e) {
            e.preventDefault();

            var date = $(this).data('date');

            cargarTurnos(date);
        });
    });

    function cargarTurnos(fecha) {

        $.ajax({
            url: '/DetalleController/CambioFecha',
            type: 'GET',
            data: { fecha: fecha },
            success: function (data) {
                $('#turnoContainer').html(data);
            },
            error: function () {
                alert('Error al cargar los turnos.');
            }
        });
    }
</script>
</section>