@{
    ViewData["Title"] = "Home Page";
}

<div class="container  mt-4">
@*     <div class="row">
        <div class="col-3">
            <select class="form-select form-select-md" aria-label=".form-select-sm example">
                <option selected>Sucursales</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-3">
            <select class="form-select form-select-md" aria-label=".form-select-sm example">
                <option selected>Pelicula</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>

    </div>
 *@

 @model DetalleViewModel
</div>
<section class="container mt-3 mb-5 ">
    <div class="row shadow p-5 rounded">
        <div class="col-md-4 mb-2 text-center">
            
            <img src="~/imgs/peliculas/@Model.Pelicula.Portada" alt="Nombre de la Película" class="img-fluid rounded">
                  
        </div>

        <div class="col-md-8 mb-3">
           
            <h2 class="mb-4">@Model.Pelicula.Titulo</h2>
            <p><strong>Género:</strong> @Model.Pelicula.IdCategoria</p>
            <p><strong>Duración:</strong> @Model.Pelicula.Duracion minutos</p>
            <p><strong>Clasificación:</strong> @Model.Pelicula.IdClasificacion</p>
            <p><strong>Descripción:</strong> @Model.Pelicula.Descripcion</p>
            
        </div>
        <hr>
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="dateTabs">
                    @foreach (var funcion in Model.ProximasFunciones)
                    {
                        <li class="nav-item">
                            <a class="nav-link active fw-bolder text-danger" aria-current="true" href="#" data-date="@funcion.Fecha">@funcion.Fecha</a>
                        </li>                    
                    }
                </ul>
            </div>
            @foreach (var funcion in Model.ProximasFunciones)
            {
                <div class="card-body" id="turnoContainer">
@*                     @Html.Partial("_TurnosPartial",Model.ProximasFunciones)
 *@                    <div class="row">
                        <p class="fw-bolder fs-5  text-start">@funcion.IdDimension</p>
                       </div>
                    
                    <div class="row">
                         <form method="post" asp-controller="Detalle" asp-action="SeleccionarButaca">
                            <input type="hidden" name="funcionId" value="@funcion.Id" />
                            <button class="btn btn-danger text-start btn-auto-width m-1">Turno : @funcion.TurnoId </button>
                        </form>
                    </div>
                

                </div>
            }

        </div>
    </div>


    <div class="container my-4 text-center ">
        <a href="/seleccionbutacas"><button class="btn btn-lg btn-danger btn-block btn-block btn-lg" type="submit">Continuar</button></a>
        
    </div>

    <div style="height: 100px;">
    </div


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#dateTabs a').click(function (e) {
            e.preventDefault();

            var date = $(this).data('date');

            cargarTurnos(date);
        });
    });

    function cargarTurnos(fecha) {

        $.ajax({
            url: '/DetalleController/CambioFecha',
            type: 'GET',
            data: { fecha: fecha },
            success: function (data) {
                $('#turnoContainer').html(data);
            },
            error: function () {
                alert('Error al cargar los turnos.');
            }
        });
    }
</script>
</section>