@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <script src="path/to/qrcode.min.js"></script>
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>



        <div class="card mb-3 p-2" style="max-width: 700px;">
    @if (Model != null && Model.funcionesStrings != null)
    {


        @foreach (var funcion in Model.funcionesStrings)
        {
                            <div class="row g-0">
                                <div class="col-md-2 mr-2">
                                    <img src="@funcion.Portada" class="img-fluid " alt="...">
                                    <small>@funcion.Fecha</small>
                                </div>
                                <div class="col-md-6  p-3">
                                    <div class="text-body-secondary">
                                        <h5 class="text-body-secondary">@funcion.Pelicula</h5>
                                                    <small>@(funcion.Sucursal ?? "Sin Sucursal")</small><br>
                                                    <small>@(funcion.Turno ?? "Sin Turno")</small><br>
                                                    <small>@(funcion.Idioma ?? "Sin Idioma")</small><br>
                                                    <small>Sala: @(funcion.Sala ?? "Sin Sala")</small><br>
                                                    <small>Butaca seleccionada</small><br>
                                                    <small>F @funcion.Fila C @funcion.Columna  </small><br>
                                        
                                    </div>
                                </div>
                                      <div class="col-md-4 align-items-center" id="qrcode">
                                                    <img src="@Url.Action("ShowQRCode", "QR", new { data = funcion.Ticket })" alt="QR Code "   /> 
                                                    <p class="text-center">@funcion.Ticket</p>
                                       </div>
                                </div>
                            <hr>
        }
    }



