@{
    ViewData["Title"] = "Home Page";
    
}

@model SeleccionButacasViewModel

<section class="py-5">
    <div class="container bg-light">
        <div class="row p-3">
            <div class="col-4 fw-bolder text-center">@Model.FuncionStrings.Pelicula</div>
            <div class="col-4 fw-bolder text-center">@Model.FuncionStrings.Sucursal</div>
            <div class="col-4 fw-bolder text-center">@Model.FuncionStrings.Turno</div>
        </div>
        <div class="row">
            <div class="col-8 bg-dark mt-5 rounded text-center text-light fw-bolder offset-2"> PANTALLA </div>
        </div>

        <form method="post" asp-controller="SeleccionButacas" asp-action="ConfirmarButacas">
            <div class="container mt-5 justify-content-center p-5">
                @for (int fila = 1; fila <= Model.Filas; fila++)
                {
                    <div class="d-flex justify-content-center">
                        @for (int columna = 1; columna <= Model.Columnas; columna++)
                        {
                            var asiento = Model.Asientos.FirstOrDefault(a => a.Fila == fila && a.Columna == columna);

                            if (asiento != null)
                            {
                                <button type="button" class="btn btn-light butaca" data-estado="@((asiento.Disponible == 1) ? "disponible" : "ocupado")" data-asiento-id="@asiento.Id" style="width: fit-content;">
                                    <i class="fa-solid fa-couch" style="color: @(asiento.Disponible == 1 ? "#000000" : "#ff090f");"></i>
                                </button>
                            }
                            else
                            {
                                <div style="width: 30px; height: 30px;"></div>
                            }
                        }
                    </div>
                }
                <input type="hidden" id="idFuncion" name="idFuncion" value="@Model.Funcion.Id" />
                <input type="hidden" id="selectedSeatsInput" name="SelectedSeats" />
            </div>


            <div class="container text-center mt-3 mb-3">
                <button type="submit" class="btn btn-danger fw-bolder" id="confirmarAsientos">Confirmar asientos</button>
            </div>
        </form>
    </div>

    <script>
        $(document).ready(function () {
            var selectedSeats = [];

            $('.butaca[data-estado="disponible"]').on('click', function () {
                var seatId = $(this).data('asiento-id');

                if ($(this).css('background-color') === 'rgb(4, 163, 18)') {
                    selectedSeats = selectedSeats.filter(id => id !== seatId);
                    $(this).css('background-color', '');
                } else if (selectedSeats.length < 4) {
                    selectedSeats.push(seatId);
                    $(this).css('background-color', '#04a312');
                }

                console.log('Asientos seleccionados:', selectedSeats);

                $('#selectedSeatsInput').val(JSON.stringify(selectedSeats));
            });

            $('#confirmarAsientos').on('click', function (e) {
                if (selectedSeats.length === 0) {
                    e.preventDefault();
                    alert('Seleccione al menos un asiento antes de confirmar.');
                }
            });
        });
    </script>


</section>