@{
    ViewData["Title"] = "Home Page";
}

@model SeleccionButacasViewModel

<section class="py-5">
    <div class="container bg-light">
        <div class="row p-3">
            <div class="col-4 fw-bolder">Pelicula id: @Model.Funcion.IdPelicula</div>
            <div class="col-4 fw-bolder">sala id: @Model.Funcion.IdSala   (deberia ser nombre sucursal)</div>
            <div class="col-4 fw-bolder">turno id: @Model.Funcion.TurnoId (deberia ser horario)</div>
        </div>
        <div class="row">
            <div class="col-8 bg-dark mt-5 rounded text-center text-light fw-bolder offset-2"> PANTALLA </div>
        </div>

        <form method="post" asp-controller="SeleccionButacas" asp-action="ConfirmarButacas">
            <div class="container mt-5 justify-content-center p-5">
                @{
                    var selectedSeats = new List<int>();
                }

                @foreach (var asiento in Model.Asientos)
                {
                    if (asiento.Disponible == 1)
                    {
                        <button type="button"  class="btn btn-light butaca" data-estado="disponible" data-asiento-id="@asiento.Id" style="width: fit-content;"><i class="fa-solid fa-couch"></i></button>
                    }
                    else
                    {
                        <button type="button"  class="btn btn-light butaca" data-estado="ocupado" data-asiento-id="@asiento.Id" style="width: fit-content;" disabled><i class="fa-solid fa-couch" style="color: #ff090f;"></i></button>
                    }
                }
                <input type="hidden" id="idFuncion" name="idFuncion" value="@Model.Funcion.Id" />
                <input type="hidden" id="selectedSeatsInput" name="SelectedSeats" />
            </div>

            <div class="container justify-content-center">
                <button type="submit" class="btn btn-danger fw-bolder" id="confirmarAsientos">Confirmar asientos</button>
            </div>
        </form>
    </div>

    <script>
        $(document).ready(function () {
            var selectedSeats = [];

            $('.butaca[data-estado="disponible"]').on('click', function () {
                var seatId = $(this).data('asiento-id');

                if ($(this).css('background-color') === 'rgb(4, 163, 18)') {
                    selectedSeats = selectedSeats.filter(id => id !== seatId);
                    $(this).css('background-color', '');
                } else if (selectedSeats.length < 4) {
                    selectedSeats.push(seatId);
                    $(this).css('background-color', '#04a312');
                }

                console.log('Asientos seleccionados:', selectedSeats);

                $('#selectedSeatsInput').val(JSON.stringify(selectedSeats));
            });

            $('#confirmarAsientos').on('click', function (e) {
                if (selectedSeats.length === 0) {
                    e.preventDefault();
                    alert('Seleccione al menos un asiento antes de confirmar.');
                }
            });
        });
    </script>


</section>