@{
    ViewData["Title"] = "Home Page";
}

@model HomeViewModel
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">PROMOCIONES</h1>
            <p class="lead fw-normal text-white-50 mb-0">Espacio para mostrar promociones</p>
        </div>
    </div>
</header>

@* 
<p id="correoParrafo"></p>

<img src="@Url.Action("ShowQRCode", "QR", new { data = "aca iria el idTicket" })" alt="QR Code"  /> *@






<!-- Section-->
<section class="py-5">
    <div class="container">
        <div class="row">






            
            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                <label for="sucursalId">Selecciona una sucursal:</label>
                <select name="sucursalId" id="sucursalId">
                    <option value="">Todas las sucursales</option>
                    @foreach (var sucursal in Model.Sucursales)
                    {
                        <option value="@sucursal.Id">
                            @sucursal.Nombre
                        </option>
                    }
                </select>
                <input type="submit" value="Filtrar">
            }



            @* <div class="col-3">
                <select class="form-select form-select-lg sucursalSelect" aria-label=".form-select-lg example" id="sucursalSelect">
                    <option selected>Sucursales</option>
                    @foreach (var sucursal in Model.Item2)
                    {
                        <option value="@sucursal.Id">@sucursal.Nombre</option>
                    }
                </select>
            </div>
            <div class="col-3">
                <select class="form-select form-select-lg peliculaSelect " aria-label=".form-select-sm example" id="peliculaSelect">
                    <option selected>Peliculas</option>
                    @foreach (var pelicula in Model.Item1)
                    {
                        <option value="@pelicula.Id">@pelicula.Titulo</option>
                    }
                </select>
            </div>
            <div class="col-5">
                <div class="" id="search">
                    <input class="form-control mr-sm-2 p-2 form-select-lg" type="search" placeholder="Buscar peliculas..." aria-label="Search">
                </div>
            </div> *@


        </div>

    </div>

    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="resultadosContainer">
            @foreach (var pelicula in @Model.Peliculas)
            {
                <form method="post" asp-controller="Home" asp-action="Detalle">
                    <input type="hidden" name="peliculaId" value="@pelicula.Id" />
                    <input type="hidden" name="sucursalId" value="@Model.SucursalId" />

                    <button class="col mb-5 btn" type="submit">
                        <div class="card shadow-sm">
                            <img class="card-img-top" src="@pelicula.Portada" alt="..." />

                        </div>
                        <div class="card-sub text-center">
                            <h5 class="fw-bolder mt-2 align-content-center">@pelicula.Titulo</h5>
                        </div>
                    </button>
                </form>
            }
        </div>
    </div>
   
</section>

@section scripts {
        <script>
            (function () {
                'use strict';

                window.addEventListener('load', function () {
                    // Obtén el correo electrónico desde localStorage
                    var email = localStorage.getItem('email');

                    // Llena el párrafo con el correo electrónico
                    var correoParrafo = document.getElementById('correoParrafo');
                    correoParrafo.textContent = 'Correo electrónico: ' + email;

                    console.log('Correo electrónico del usuario:', email);
                });
            })();
        </script>
}
